<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.dsu.dc.mapper.BoardMapper">
  	<select id="getList" resultType="org.dsu.dc.domain.BoardVO">
  		SELECT * FROM tbl_board
  	</select>
  	
  	<insert id="insert">
  		INSERT INTO tbl_board (title, content, writer)
  		VALUES (#{title}, #{content}, #{writer})
  	</insert>
  	
  	<insert id="insertSelectKey" parameterType="org.dsu.dc.domain.BoardVO">
  		INSERT INTO tbl_board (title, content, writer)
  		VALUES (#{title}, #{content}, #{writer})
  		<selectKey keyProperty="bno" resultType="long" order="AFTER">
  			SELECT MAX(bno) FROM tbl_board;
  		</selectKey>
  	</insert>
  	
  	<select id="read" resultType="org.dsu.dc.domain.BoardVO">
  		SELECT * FROM tbl_board
  		WHERE bno=#{bno}
  	</select>
  	
  	<delete id="delete">
  		DELETE FROM tbl_board
  		WHERE bno=#{bno}
  	</delete>
  	
  	<update id="update">
  		UPDATE tbl_board
  		SET title=#{title}, content=#{content}, writer=#{writer}, updateDate=now()
  		WHERE bno=#{bno}
  	</update>
  </mapper>