<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
      	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:fragment="configFragment">
		<meta charset="UTF-8">
		<title>Simple template for Bootstrap</title>
	
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
		<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
		<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
	</head>
</html>