<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
      	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<footer th:fragment="footerFragment" class="main-footer">
		<div class="container">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0
			</div>
				<strong>Copyright &copy; 2019- <a href="#">Digital Contents</a>.</strong>
					All right reserved.
		</div>
	</footer>
	
	<footer th:fragment="scriptsFragment">
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/dist/js/adminlte.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
	</footer>
</html>